* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #4636A7;
    font-family: sans-serif;
}

nav {
    height: 80px;
    width: 100%;
    
}

img.logo {
    height: 40px;
    width: 4em;
    margin-right: 20px;
}

label.logo {
    line-height: 80px;
    padding: 0 100px;
}

nav ul {
    float:right ;
    margin-right: 20px;
    margin-top: 20px;
    
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 10px 20px;
}

nav ul li a {
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-right: 1em;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.5s;
}

nav ul li a:hover {
    color: #f500b4;
    transition: 0.5s;
}

nav ul li a:active {
    text-decoration: underline;
}

#myIntroduction {
    margin-top: 10em;
    margin-bottom: 7em;
}

#myIntroduction h3,
p,
h2 {
    color: #ffffff;
}

#helloitsme {
    font-size: 33px;
    margin-bottom: 0.1em;
    font-weight: 900;
}

#myName {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 0.3em;
}

#myWork {
    margin-bottom: 1.5em;
    font-size: 33px;
    font-weight: 900;
}

#aboutMe {
    width: 70%;
    font-size: 25px;
    line-height: 1.05em;
}

#socialMedia{
    margin-top: 3.5em;
    margin-left: 1.3em;
    width: 50%;
}
.socialmediaicons{
    margin-top: 14em;
 }

#socialMedia {
    margin-top: 2em;
    margin-left: 1.3em;
    width: 50%;
}

.socialmediaicons {
    margin-top: 10em;

    margin-right: 55px;
    font-size: 2.2em;
    color: #ffffff;
    transition: 0.5s;
}

.socialmediaicons:hover{
    color: #f500b4;
    transition: 0.5s;
    border: 5px solid #f500b4;
    padding: 0.25em;
    border-radius: 60% 60%;
    justify-content: center;   
    align-items: center; 
}
#cvBtn{
    margin-top: 2em;
    padding: 0.3em 1em;
    font-size: 25px;
    font-weight: 600;
    color: white;
    background-color:#f500b4;
    border: 1px solid #f500b4;
    border-radius: 30px 30px;
    margin-bottom: 130px;
    position: relative;
}

.secondPage{
    width: 100%;
    height: 1000x;
    border: 1px solid #323846;
    background-color: #323846;
    color: white;
}

#aboutMe2{
   display: flex;
   justify-content: center;
   font-size: 3em;
   padding-top: 1.3em;
   font-weight: 900;
   word-spacing: 2px;
   font-family: 'Times New Roman', Times, serif;
}
#discriptionAboutme{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-family: inter;
}
#upArrow{
    margin-top: 66%;
    margin-left: 93%;
    margin-bottom: 0%;
    font-size: 4em;
    background-color: #323846;
    text-decoration: none;
    color: #465880;
    transition: 0.2s;
    
}
#upArrow:hover{
    transition: 0.2s;
    color: rgb(231, 209, 209);
    text-shadow:  0 0 1rem #d400ff,0 0 4rem #d400ff, 0 0 9.5rem #d400ff;
}
#myPhoto2{
    margin-top: 10em;
    margin-left: 10em;
}
#mydetails{
    max-width: 60%;
    height: 470px;
    margin-left: 25em;    
    font-size: 30px;
    font-family:Courier;
    line-height: 200%;
}

#myServices{
    display: flex;
    grid-template-columns: 300px 300px 300px 300px;
    
}
#thirdPage{
    display: block;
    background-color: #323846;
}
#thirdPage h1{
    
}

